// app global css in SCSS form

.card-border{
  border-radius: 20px;
  border-top: 1px solid #1519cd;
  border-left: 1px solid #1519cd;
  border-right: 1px solid #1519cd;
  border-bottom: 1px solid #1519cd;

}
